﻿@model WebApplication1.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/BMI/Index" method="post">
    請輸入數字: @Html.TextBoxFor(d => d.Height) 公分 @Html.ValidationMessageFor(d => d.Height)<br />
    體重: @Html.TextBoxFor(d => d.Weight) 公斤 @Html.ValidationMessageFor(d => d.Weight)<br />
    <input type="submit" name="name" value="send" />
</form>
<br />
 
    計算結果： @Model.BMI <br />
    等級： @Model.Level


