﻿
@{
    ViewBag.Title = "Index";
}

<br />姓名:張鎮顯 <br />  
 學號:410516879
 <br />喜歡的水果:<br />

@{
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}

<ol>
    @foreach (var item in fruits)
    {

        <li>
            @item
        </li>
    }
</ol>

